# Reading Files

## Import of Libraries

In [1]:
import pandas as pd
import mysql.connector #TO read SQL data

## Reading CSV Files

In [13]:
df_csv = pd.read_csv('../Dataset/placement.csv' , encoding='utf-8')
df_csv.head(5)

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

## Read the data from a json file.

In [3]:
df = pd.read_json("../Dataset/train.json")
df.head(5)

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

#### This data represents a collection of recipes from different cuisines, each identified by a unique id. The data includes the cuisine type and a list of ingredients associated with each recipe.

## Read the data json data from api

In [7]:
df_json_api = pd.read_json('https://dummyjson.com/users')
df.head(5)

      id      cuisine                                        ingredients
0  10259        greek  [romaine lettuce, black olives, grape tomatoes...
1  25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2  20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3  22213       indian                [water, vegetable oil, wheat, salt]
4  13162       indian  [black pepper, shallots, cornflour, cayenne pe...

### This data represents a collection of recipes from different cuisines, each identified by a unique id. The data includes the cuisine type and a list of ingredients associated with each recipe.

# Reading Data of SQL

In [9]:
pip install mysql-connector-python #library required for working with sql

Note: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#library': Expected package name at the start of dependency specifier
    #library
    ^

#### To use the **World SQL dataset** from Kaggle in MySQL Workbench, first download the dataset from [this Kaggle link](https://www.kaggle.com/datasets/hashtagkehl/worldsql/code) and extract the files. Then, in MySQL Workbench, create a new database with `CREATE DATABASE world;` and use `USE world;`. Open the `.sql` file from the extracted folder in MySQL Workbench using **File > Open SQL Script**, then run the script to import the data. Finally, verify the tables with `SHOW TABLES;` and check the data with `SELECT * FROM city LIMIT 10;`.

In [8]:
# Using mysql-connector
conn = mysql.connector.connect(
    host="localhost",  # or your MySQL server IP
    user="root",
    password="admin",
    database="world"
)

In [9]:
QUERY='SELECT * FROM city'       #Query use to filter out the data. 
df_sql= pd.read_sql(QUERY, conn) #this requires the Query and the Connection object to load the DataFrame.
df_sql.head()

C:\Users\Rohit\AppData\Local\Temp\ipykernel_2884\2715036049.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sql= pd.read_sql(QUERY, conn)

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200

### This dataset contains information about cities, including:

* **ID**: A unique identifier for each city.
* **Name**: The city's name (e.g., Kabul, Amsterdam).
* **CountryCode**: The country code (e.g., `AFG` for Afghanistan, `NLD` for Netherlands).
* **District**: The district or region the city is in (e.g., Kabol, Noord-Holland).
* **Population**: The city's population (e.g., 1,780,000 for Kabul).

It provides details about various cities, their locations, and population sizes.

# Loding the Dataset in chunks

In [22]:
CHUNK_SIZE = 10000                                                                                           #Chunk Size in which the data is divided.
df_load_chunk_csv= pd.read_csv('../Dataset/amazon.csv', encoding='utf-8', chunksize=CHUNK_SIZE)
for chunk in df_load_chunk_csv:                                                                              #Use to loop everywhere to work in chunks
    print(chunk.size)                                                                                        #print the size of each chunk

40000
40000
40000
40000
40000
40000
40000
20000

#### Amazon dataset is of products desciptions and price in csv